<div class="panel">
	<h2 class="unbold">Profile</h2><br>
	<b class="black">Joined:</b> <span class="right">{{ user.account_created }}</span>
	<hr class="dotted-under">
	<b class="black">Age:</b> <span class="right">0</span>
	<hr class="dotted-under">
	<b class="black">Last Visit Date:</b> <span class="right">{{ user.last_login }}</span>
	<hr class="dotted-under">
	<b class="black">Country:</b> <span class="right">{{ user.youtube_country }}</span>
	<hr class="dotted-under">
	<b class="black">Category:</b> <span id="category-text" class="right">{{ user.youtube_category }}</span>
	<hr class="dotted-under">
	<b class="black">Tags:</b> <span id="tags-text" class="right">{{ user.youtube_tag }}</span>
	<hr class="dotted-under">
</div><br>