<div class="panel">
	<img class="inline-block profile-picture mid double-line" style="width: 94px;height: 94px;" src="/v/p/{{ user.youtube_picture }}">
	<div class="inline-block user-information top">
		<h2 class="unbold">{{ user.youtube_username }}</h2>
		<p class="inline-block" style="width: 149px;">
			{% if session.youtube == user.youtube_username %}
				Your channel viewers will see links here, including "subscribe" and "add as friend".
			{% else %}
				{% if user.subscribed == false %}
					<a href="/request/subscribe?u={{ user.youtube_username }}">
						<button class="ut-button mid">Subscribe</button>
					</a>
				{% else %}
					<a href="/request/subscribe?u={{ user.youtube_username }}">
						<button class="ut-button mid">Unsubscribe</button>
					</a>
				{% endif %}
				<br><br>
				{% if user.friend["id"] is not defined %}
					<a href="/request/friend?u={{ user.youtube_username }}">Add as Friend</a> 
				{% else %}
					<a href="/request/friend?u={{ user.youtube_username }}">Cancel Pending Request</a> 
				{% endif %}
				<span class="seperator"></span> 
				<a href="/request/block?u={{ user.youtube_username }}">Block User</a> 
				<span class="seperator"></span>
				<a href="/inbox/compose?to={{ user.youtube_username }}">Send Message</a>
			{% endif %}
		</p>
	</div>
</div><br>