<div class="channel-customization-bar js_customizationbar">
    <button class="ut-button first js_customization_butt" id="post-bulletin">
        Post Bulletin
    </button>
    <button class="ut-button js_customization_butt" id="settings">
        Settings
    </button>
    <button class="ut-button js_customization_butt" id="themes-colors">
        Themes and Colors
    </button>
    <button class="ut-button js_customization_butt" id="modules">
        Modules
    </button>
    <button class="ut-button js_customization_butt" id="videos-playlists">
        Videos and Playlists
    </button>
</div>
<div class="clearfix channel-customization user-page">
    <div class="post-bulletin">
        <div class="top-left clearfix">
			<form action="/request/comment_profile?u={{ user.youtube_username }}" id="comment_profile" class="top inline-block right" method="POST">
				<textarea name="comment" style="width: 457px;height: 60px;resize: none;" class="js-comment-textbox" placeholder="Enter message"></textarea><br><br>
				<input type="text" name="metadata" style="width: 455px;" placeholder="Enter UTue video URL (optional)">
			</form>
			<script>
				function nl2br (str, is_xhtml) {
					var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>'; // Adjust comment to avoid issue on phpjs.org display
					return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
				}
				
				$(".js-comment-textbox").on('change keyup paste', function() {
					$("#comment-bulletin-text").html(nl2br($(".js-comment-textbox").val()));
				});
			</script>
        </div>
        <div class="top-right clearfix" style="min-height: 110px;">
			<div class="comment-bulletin">
				<b>{{ user.youtube_username }}</b>
				<span class="right gray">Bulletin Preview</span>
				<p id="comment-bulletin-text" class="black"></p>
			</div><br>
			Bulletin will be posted to your profile comments.
        </div>
        <div class="width-full clearfix">
            <button class="ut-button mid no-margin js_post_bulletin" id="post-bulletin">Post Bulletin</button> 
            <span class="mid">or <a href="#">cancel</a></span>
        </div>
    </div>
    <div class="settings hidden">
        <div class="top-left clearfix">
            <div class="customization-module black">
                URL: <span class="right"><a href="https://utue.net/user/{{ user.youtube_username }}">https://utue.net/user/{{ user.youtube_username }}</a></span>
            </div>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Title: </span>
                <form action="/request/channel/title" id="title" class="mid inline-block right" method="POST">
                    <input type="text" value="{{ user.youtube_nickname }}" name="title" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Channel Type: </span>
                <form action="/request/channel/category" id="category" class="mid inline-block right" method="POST">
                    <select name="channel-type" class="ut-input">
                        {% for category in categories %}
                            <option value="{{ category }}" name="category" id="category">{{ category }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div><br><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Make Channel Visible: </span>
                <form action="/request/channel/visibility" id="visibility" class="mid inline-block right" method="POST">
                    <input type="radio" name="visibility" value="y" checked> Yes
                    <input type="radio" name="visibility" value="n"> No
                </form>
            </div>
        </div>
        <div class="top-right clearfix">
            <div class="customization-module black">
                <div class="inline-block">
                    <span class="mid">Channel Tags: </span><br>
                    <span class="input-caption">(space separated)</span>
                </div>
                <form action="/request/channel/tags" id="tags" class="top inline-block right" method="POST">
                    <textarea name="tags">{{ user.youtube_tag }}</textarea><br>
                    <span class="input-caption">Tags are keywords used to help people find your channel.</span>
                </form>
            </div><br><br><br><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <div class="inline-block">
                    <span class="mid">Channel Picture: </span><br>
                    <span class="input-caption">(png, jpg, jpeg)</span>
                </div>
                <form action="/request/channel/picture" id="profile_picture" enctype='multipart/form-data' class="top inline-block right" method="POST">
                    <input type="file" name="profile_picture" id="profile_picture_in">
					{% if user.youtube_picture != "default.png" %}
                        <a href="/request/channel/pfpreset">Remove</a>
                    {% endif %}
                </form>
            </div><br>
            <hr class="dotted-under"> 
        </div>
        <div class="width-full clearfix">
            <hr>
            <button class="ut-button mid no-margin js_apply_changes" id="settings">Save Changes</button> 
            <span class="mid">or <a href="#">cancel</a></span>
        </div>
    </div>
    <div class="themes-colors hidden">
        <div class="top-left clearfix">
            <div class="customization-module black">
                <span class="mid">Background Color: </span>
                <form action="/request/channel/bgcolor" enctype='multipart/form-data' id="bgcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.background_color }}" name="bgcolor">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Primary Color: </span>
                <form action="/request/channel/pcolor" enctype='multipart/form-data' id="pcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.primary_color }}" name="primarycolor">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Secondary Color: </span>
                <form action="/request/channel/scolor" enctype='multipart/form-data' id="scolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.secondary_color }}" name="secondarycolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Border Color: </span>
                <form action="/request/channel/bcolor" enctype='multipart/form-data' id="bcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.border_color }}" name="bordercolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Channel Inset Color: </span>
                <form action="/request/channel/insetcolor" enctype='multipart/form-data' id="insetcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.inset_color }}" name="insetcolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
        </div>
        <div class="top-right clearfix">
            <div class="customization-module black">
                <div class="inline-block">
                    <span class="mid">Background Photo: </span><br>
                    <span class="input-caption">(png, jpg, jpeg)</span>
                </div>
                <form action="/request/channel/bgpic" id="bg_pic" enctype='multipart/form-data' class="top inline-block right" method="POST">
                    <input type="file" name="bgpic"> 
                    {% if channel_colors.background_image != "" %}
                        <a href="/request/channel/bgreset">Remove</a>
                    {% endif %}
                </form>
            </div>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Grey Text Color: </span>
                <form action="/request/channel/gtextcolor" enctype='multipart/form-data' id="gtcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.grey_text_color }}" name="greytextcolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Text Color: </span>
                <form action="/request/channel/textcolor" enctype='multipart/form-data' id="tcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.text_color }}" name="textcolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Bold Text Color: </span>
                <form action="/request/channel/btextcolor" enctype='multipart/form-data' id="btextcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.bold_text_color }}" name="boldtextcolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
            <div class="customization-module black">
                <span class="mid">Link Color: </span>
                <form action="/request/channel/linkcolor" enctype='multipart/form-data' id="linkcolor" class="mid inline-block right" method="POST">
                    <input type="color" value="{{ channel_colors.link_color }}" name="linkcolor" style="font-size: 9px;">
                </form>
            </div><br>
            <hr class="dotted-under"> 
        </div>
        <div class="width-full clearfix">
            <hr>
            <button class="ut-button mid no-margin js_apply_changes_color" id="themes-colors">Save Changes</button> 
            <span class="mid">or <a href="#">cancel</a></span>
        </div>
    </div>
    <div class="modules hidden">
        <div class="top-left clearfix">
            <div class="customization-module black">
                <span class="mid">Featured Video: </span>
                <form action="/request/channel/featured" id="featured" class="mid inline-block right" method="POST">
                    <input type="text" value="{{ user.youtube_featured }}" name="featured" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Subscribers Module: </span>
                <form action="/request/channel/module/subscribers" id="subscribers" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="subscribers" {% if user.youtube_modules.subscribers_mod == true %}checked{% endif %} value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Subscriptions Module: </span>
                <form action="/request/channel/module/subscriptions" id="subscriptions" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="subscriptions" {% if user.youtube_modules.subscriptions_mod == true %}checked{% endif %} value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Comments Module: </span>
                <form action="/request/channel/module/comments" id="comments" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="comments" {% if user.youtube_modules.comments_mod == true %}checked{% endif %} value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
        </div>
        <div class="top-right clearfix">
            <div class="customization-module black">
                <span class="mid">Profile Module: </span>
                <form action="/request/channel/module/profile" id="profile" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="profile" {% if user.youtube_modules.profile_mod == true %}checked{% endif %} value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Activity Module: </span>
                <form action="/request/channel/module/activity" id="activity" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="activity" {% if user.youtube_modules.activity_mod == true %}checked{% endif %} value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Info Module: </span>
                <form action="/request/channel/module/info" id="info" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="info" value="y" {% if user.youtube_modules.info_mod == true %}checked{% endif %} style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
			<div class="customization-module black">
                <span class="mid">Friends Module: </span>
                <form action="/request/channel/module/friends" id="friends" class="mid inline-block right" method="POST">
                    <input type="checkbox" name="friends" value="y" style="font-size: 9px;">
                </form>
            </div>
            <hr class="dotted-under"> 
        </div>
        <div class="width-full clearfix">
            <hr>
            <button class="ut-button mid no-margin js_module_apply" id="modules">Save Changes</button> 
            <span class="mid">or <a href="#">cancel</a></span>
        </div>
    </div>
    <div class="videos-playlists hidden">
        Videos and Playlists
    </div>
</div><br>
<script>
    $('button#post-bulletin').click(function() { 
        $(".post-bulletin").removeClass("hidden");
        $(".settings").addClass("hidden");
        $(".themes-colors").addClass("hidden");
        $(".modules").addClass("hidden");
        $(".videos-playlists").addClass("hidden");
    });
    
	$('.js_post_bulletin').click(function() {
		$.ajax({   
			type: 'POST',   
			url: "/request/comment_profile?u={{ user.youtube_username }}",   
			data: $('form#comment_profile').serialize(),
			success: function(res) {
				alert("Successfully posted your bulletin");
			},
			error: function(res) {
				alert(res.status);
			}
		}); 
    });
	
    $('.js_apply_changes').click(function() {
        var forms = [
            'title',
            'category',
            'visibility',
            'tags',
        ];

        forms.forEach((form) => {
            $.ajax({   
                type: 'POST',   
                url: "/request/channel/" + form,   
                data: $('form#' + form).serialize(),
                success: function(res) {
                    console.log(res);
                },
                error: function(res) {
                    alert(res.status);
                }
            }); 
        });
		
		if ($('#profile_picture_in').get(0).files.length == 1) {
			var data = new FormData();
			jQuery.each(jQuery('form#profile_picture input[type="file"]')[0].files, function(i, file) {
				data.append('profile_picture', file);
			});

			$.ajax({   
				type: 'POST',   
				url: "/request/channel/picture",   
				data: data,
				processData: false,
				contentType: false,
				success: function(res) {
					console.log(res);
				},
				error: function(res) {
					alert(res.status);
				}
			}); 
		}
    });

    $('.js_apply_changes_color').click(function() {
        var forms = [
            'bgcolor',
            'pcolor',
            'scolor',
            'bcolor',
            'gtcolor',
            'tcolor',
            'btextcolor',
            'linkcolor',
            'insetcolor',
        ];

        forms.forEach((form) => {
            $.ajax({   
                type: 'POST',   
                url: "/request/channel/" + form,   
                data: $('form#' + form).serialize(),
                success: function(res) {
                    console.log(res);
                },
                error: function(res) {
                    alert(res.status);
                }
            }); 
        });

        var data = new FormData();
        jQuery.each(jQuery('form#bg_pic input[type="file"]')[0].files, function(i, file) {
            data.append('bg_pic', file);
        });

        $.ajax({   
            type: 'POST',   
            url: "/request/channel/bgpic",   
            data: data,
            processData: false,
            contentType: false,
            success: function(res) {
                console.log(res);
            },
            error: function(res) {
                alert(res.status);
            }
        }); 
    });
	
	$('.js_module_apply').click(function() {
        var forms = [
            'featured',
			'subscribers',
			'subscriptions',
			'comments',
			'profile',
			'activity',
			'info',
			'friends',
        ];

        forms.forEach((form) => {
            $.ajax({   
                type: 'POST',   
                url: "/request/channel/module/" + form,   
                data: $('form#' + form).serialize(),
                success: function(res) {
                    console.log(res);
                },
                error: function(res) {
                    alert(res.status);
                }
            }); 
        });
    });

    $('button#settings').click(function() { 
        $(".post-bulletin").addClass("hidden");
        $(".settings").removeClass("hidden");
        $(".themes-colors").addClass("hidden");
        $(".modules").addClass("hidden");
        $(".videos-playlists").addClass("hidden");
    });

    $('button#themes-colors').click(function() { 
        $(".post-bulletin").addClass("hidden");
        $(".settings").addClass("hidden");
        $(".themes-colors").removeClass("hidden");
        $(".modules").addClass("hidden");
        $(".videos-playlists").addClass("hidden");
    });

    $('button#modules').click(function() { 
        $(".post-bulletin").addClass("hidden");
        $(".settings").addClass("hidden");
        $(".themes-colors").addClass("hidden");
        $(".modules").removeClass("hidden");
        $(".videos-playlists").addClass("hidden");
    });

    $('button#videos-playlists').click(function() { 
        $(".post-bulletin").addClass("hidden");
        $(".settings").addClass("hidden");
        $(".themes-colors").addClass("hidden");
        $(".modules").addClass("hidden");
        $(".videos-playlists").removeClass("hidden");
    });

</script>