{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - Homepage",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix">
        <div class="top-left">
            <div class="promo-grey-big ut-alert rounded">
                <h1>Join the worst worldwide video-sharing community!</h1><br>
                <button class="ut-blue-button">Create Account ›</button>
                <span class="black">
                    Already have an account? <a href="/sign_in">Sign In</a>
                </span>
            </div><br>
            <div class="section">
                Recommended for You <span class="vertical-middle dotted-under small">Learn More</span>
            </div>
            <p class="padding" style="padding-top: 0px;">
                <b class="black">Personalized video recommendations</b><br>
                Getting personalized recommendations is really easy, all you have to do is watch some videos then come back to this page to see what videos YouTube has recommended just for you!
            </p>
            <div class="section">
                Most Popular
            </div>
            <div class="videos-list">
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Entertainment
                    </div>
                    {% for video in videos_ent %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Music
                    </div>
                    {% for video in videos_mus %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><br><br>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Gaming
                    </div>
                    {% for video in videos_gaming %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Films & Animation
                    </div>
                    {% for video in videos_film %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><br><br>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Sports
                    </div>
                    {% for video in videos_sports %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Howto & Style
                    </div>
                    {% for video in videos_diy %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><br><br>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Science & Technology
                    </div>
                    {% for video in videos_sci %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="video-item inline-block w-310">
                    <div class="section no-border">
                        Travel & Events
                    </div>
                    {% for video in videos_travel %}
                        {% if video.id is defined %}
                            <div class="thumb-128 inline-block"
                                style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');"
                            >
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}">{{ video.video_title }}</a><br>
                                <span class="small">0 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><br><br>
            </div>
        </div>
        <div class="top-right">
            <div class="section black">
                Spotlight
            </div>
            <div class="black">
                <b>Remembering SubRocks</b>
                <p>
                    SubRocks was the worst YouTube revival ever made. Please stop using my codebase.<br>
                    <span class="small">Presented by: <a href="/user/jackd">jackd</a></a>
                </p>
            </div>
            <div class="videos-list">
                {% for video in videos_new %}
                    {% if video.id is defined %}
                        <div class="video-item inline-block w-300 hover-video padding">
                            <div class="thumb-64 inline-block" style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');">
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}" class="video-author bigger">{{ video.video_title }}</a><br>
                                <span class="small">3,541,329 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div><br>
            <div class="section">
                Featured
            </div>
            <div class="videos-list">
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
            </div><br>
            <div class="section black">
                What's New
            </div>
            <a href="#"><b>UTue.net/Porn</b></a><br><br>
            Your place to start watching pornographic content on uTue. Releasing in 48 hours!<br>
            <a href="#">Learn more</a>
        </div>
    </div>
{% endblock %}