{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - #{ user.youtube_username }",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix user-page">
        <div class="user-bar-channel">
            <div class="user-sub-bar-channel">
                <img class="inline-block profile-picture mid" src="/v/p/default.png">
                <h1 class="inline-block unbold mid">{{ user.youtube_username }}'s Channel</h1> 
                {% if user.subscribed == false %}
                    <a href="/request/subscribe?u={{ user.youtube_username }}">
                        <button class="ut-button mid">Subscribe</button>
                    </a>
                {% else %}
                    <a href="/request/subscribe?u={{ user.youtube_username }}">
                        <button class="ut-button mid">Unsubscribe</button>
                    </a>
                {% endif %}
            </div>
        </div><br>

        <div class="top-left">
            <div class="panel">
                <img class="inline-block profile-picture mid double-line" style="width: 94px;height: 94px;" src="/v/p/default.png">
                <div class="inline-block user-information top">
                    <h2 class="unbold">{{ user.youtube_username }}</h2>
                    <p class="inline-block" style="width: 149px;">
                        Your channel viewers will see links here, including "subscribe" and "add as friend".
                    </p>
                </div>
            </div><br>
            <div class="panel">
                <h2 class="unbold">Profile</h2><br>
                <b class="black">Joined:</b> <span class="right">{{ user.account_created }}</span>
                <hr class="dotted-under">
                <b class="black">Age:</b> <span class="right">0</span>
                <hr class="dotted-under">
                <b class="black">Last Visit Date:</b> <span class="right">{{ user.last_login }}</span>
                <hr class="dotted-under">
                <b class="black">Country:</b> <span class="right">{{ user.youtube_country }}</span>
                <hr class="dotted-under">
            </div>
        </div>
        <div class="top-right">
            <div class="panel">
                <h2 class="unbold">Channel Comments</h2><br>
                {% if session.youtube is not defined %}
                    <div class="comment-box black signedout">
                        <a href="/sign_in">Sign In</a> or <a href="/sign_up">Sign Up</a> now to post a comment!
                    </div>
                {% else %}
                    <div class="comment-box black">
                        <form action="/request/comment_profile?u={{ user.youtube_username }}" method="POST">
                            <textarea name="comment" class="comment-textbox"></textarea><br>
                            <input type="submit" name="submit" value="Publish">
                        </form>
                    </div>
                {% endif %}
                <hr class="dotted-under">
                <div class="comments">
                    {% set comment_i = 0 %}
                    {% for comment in comments %}
                        {% if comment.id is defined %}
                            <div class="comment {% if comment_i == 0 %}first{% endif %}">
                                <a href="/user/{{ comment.comment_author }}">{{ comment.comment_author }}</a> &nbsp;&nbsp; 
                                <span class="small gray">{{ comment.comment_creation|timeago }}</span>
                                <div class="comment-text black">
                                    {{ comment.comment_text|nl2br }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><br>
{% endblock %}