{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "UTue - #{ user.youtube_username }",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block head -%}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .user-page-container {
            background-color: {{ channel_colors.background_color }} !important;
        }

        .user-page .panel, .user-bar-channel {
            background-color: {{ channel_colors.secondary_color }};
        }

        .user-page-container .user-page {
            background-color: {{ channel_colors.primary_color }};
        }

        .user .profile-picture, .inline-block.profile-picture.mid, .box, .user-page .comments {
            border: 1px solid {{ channel_colors.border_color }};
        }

        .inline-block.profile-picture.mid.double-line {
            border: 4px double {{ channel_colors.border_color }};
        }

        .comment {
            border-bottom: 1px solid {{ channel_colors.border_color }};
        }

        .comment-text {
            color: {{ channel_colors.text_color }};
        }

        .unbold, .bold, b, b.black {
            color: {{ channel_colors.bold_text_color }};
        }

        .user-page-container a {
            color: {{ channel_colors.link_color }};
        }

        .user-information.top, .panel .right {
            color: {{ channel_colors.grey_text_color }};
        }

        .user-sub-bar-channel {
            background-color: {{ channel_colors.inset_color }};
        }

        .user-page-corner-tab {
            border-color: {{ channel_colors.inset_color }};
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .user-page-container {
            background: url("/v/p/{{ channel_colors.background_image }}") center 0px repeat-y;
        }
    </style>
{% endblock %}

{%- block footer -%}
{%- endblock footer -%}

{%- block site_content -%}
    {% if session.youtube == user.youtube_username %}
        {% include 'channel_customization.twig' %}
    {% endif %}
    </div></div></div></div>
    <div class="user-page-container"><br>
        <div class="container">
            {% if user.youtube_banner != "" %}
                <img src="/v/p/{{ user.youtube_banner }}" class="profile-banner">
            {% endif %}
            <div class="clearfix user-page">
                <div class="user-bar-channel">
                    <div class="user-sub-bar-channel">
                        <img class="inline-block profile-picture mid" src="/v/p/{{ user.youtube_picture }}">
                        <h1 class="inline-block unbold mid" id="channel-title-header">
                            {% if user.youtube_nickname is empty %}
                                {{ user.youtube_username }}'s Channel
                            {% else %}
                                {{ user.youtube_nickname }}
                            {% endif %}
                        </h1> 
                        {% if user.subscribed == false %}
                            <a href="/request/subscribe?u={{ user.youtube_username }}">
                                <button class="ut-button mid">Subscribe</button>
                            </a>
                        {% else %}
                            <a href="/request/subscribe?u={{ user.youtube_username }}">
                                <button class="ut-button mid">Unsubscribe</button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="user-page-corner-tab"></div>
                </div>
                {% if user.youtube_featured != "" %}
                    <br>
                    <div class="panel featured-video clearfix">
                        <div class="top-left clearfix">
                            <span class="loading-content-ajax loading black hidden">
                                <img src="/img/spinner.gif">
                                <span class="mid inline-block">
                                    Loading...
                                </span>
                            </span>
                            <div class="js_mixed_content">
                                <script src="/assets/player.js"></script>
                                <div class="utue-player" data-src="/v/{{ user.youtube_featured }}.mp4"></div><br>
                                <h1 class="video-watch-title">{{ video.video_title }}</h1>
                                <p>
                                    From: <a href="/user/{{ video.video_author }}">{{ video.video_author }}</a> | {{ video.video_added|date("M d, Y") }} | {{ video.video_views }} views
                                </p>
                                <p>
                                    {{ video.video_description|nl2br }}
                                    <br><br>
                                    <a class="bold black" href="/watch?v={{ video.video_id }}">View comments, related videos, and more</a>
                                </p>
                            </div>
                        </div>
                        <div class="top-right clearfix">
                            <div class="videos-list user-side-list">
								{% for video in side_videos %}
									{% if video.id is defined %}
										<div class="video-item inline-block w-300 hover-video padding" video-featured-id="{{ video.video_id }}">
											<div class="thumb-64 inline-block"  style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');">
												<span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
											</div>
											<div class="video-meta">
												<a href="#" onclick=";return false;" video-id="{{ video.video_id }}" class="video-author bigger js_featured_video_switch">{{ video.video_title }}</a><br>
												<span class="small">{{ video.video_views }} views</span><br>
												<a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
                        </div>
                    </div>
                    <script>
                        $(".js_featured_video_switch").click(function() {
                            var video_id = $(this).attr("video-id");
                            var mixed_con = $(".js_mixed_content");
                            var loading_dom = $(".loading-content-ajax");
                            
                            $(".videos-list.user-side-list .video-item").removeClass("active");

                            $.get("/request/ajax/video_featured?v=" + video_id, function(data, status) {
                                $('.js_featured_video_switch[video-id="' + video_id + '"]').parent().parent().addClass("active");
                                mixed_con.html(data);
                            });
                        });
                    </script>
                {% endif %}
            </div><br>

            <div class="clearfix user-page">
                <div class="top-left">
					{% if user.youtube_modules.profile_mod == true %}
						{% embed "channel/profile.twig" %}{% endembed %}
					{% endif %}
					{% if user.youtube_modules.info_mod == true %}
						{% embed "channel/info.twig" %}{% endembed %}
					{% endif %}
					{% if user.youtube_modules.activity_mod == true %}
						{% embed "channel/activity.twig" %}{% endembed %}
					{% endif %}
                </div>
                <div class="top-right">
                	{% if user.youtube_modules.friends_mod == true %}
						{% embed "channel/friends.twig" %}{% endembed %}
					{% endif %}
					{% if user.youtube_modules.subscribers_mod == true %}
						{% embed "channel/subscribers.twig" %}{% endembed %}
					{% endif %}
					{% if user.youtube_modules.subscriptions_mod == true %}
						{% embed "channel/subscriptions.twig" %}{% endembed %}
					{% endif %}
					{% if user.youtube_modules.comments_mod == true %}
						{% embed "channel/comments.twig" %}{% endembed %}
					{% endif %}
                </div>
            </div><br>
        </div>
    </div>
{% endblock %}