{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - #{ video.video_title }",
        "description" : "#{ video.video_description }"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block head -%}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{%- block site_content -%}
    <div class="clearfix watch-page">
        <div class="top-left">
            <div class="video-watch-meta no-padding">
                <h1 class="video-watch-title">{{ video.video_title }}</h1>
                <a href="/user/{{ video.video_author }}" class="video-watch-author bold">{{ video.video_author }}</a>
                <div class="video-author-videos inline-block">{{ video.author_videos }} videos <div class="bg-author_videos_watch inline-block mid"></div></div>
                {% if video.author_subscribed == false %}
                    <a href="/request/subscribe?u={{ video.video_author }}&v={{ video.video_id }}">
                        <button class="ut-button">Subscribe</button>
                    </a>
                {% else %}
                    <a href="/request/subscribe?u={{ video.video_author }}&v={{ video.video_id }}">
                        <button class="ut-button">Unsubscribe</button>
                    </a>
                {% endif %}
                <div class="js_mixed_watch_videos_page mixed-content-attach hidden">
                    <span class="loading-content-ajax loading black ">
                        <img src="/img/spinner.gif">
                        <span class="mid inline-block">
                            Loading...
                        </span>
                    </span>
                    <div class="js_mixed_content"></div>
                </div>
            </div><br>
            <script src="/assets/player.js"></script>
            <div class="utue-player" data-src="/v/{{ video.video_id }}.mp4"></div><br>
            <div class="top-left">
                <div class="video-watch-meta no-padding">
                    <a href="/request/like_video?v={{ video.video_id }}&t=l">
                        <button class="ut-button no-margin start js_like_button">
                            <span class="{% if video.vote_liked == true %}bg-liked_button {% endif %} bg-like_button icon"></span> Like
                        </button>
                    </a>
                    <a href="/request/like_video?v={{ video.video_id }}&t=d">
                        <button class="ut-button no-margin end dislike js_dislike_button"><span class="bg-dislike_button icon"></span></button>
                    </a>
                    <button class="ut-button no-margin js_addto_button"><span class="bg-add_to icon"></span> &nbsp;Add To</button>
                    <button class="ut-button no-margin js_share_button">Share</button>
                    <button class="ut-button no-margin js_flag_button"><span class="bg-flag icon"></span></button>
                </div>
                <div class="js_mixed_watch_page mixed-content-attach hidden">
                    <span class="loading-content-ajax loading black ">
                        <img src="/img/spinner.gif">
                        <span class="mid inline-block">
                            Loading...
                        </span>
                    </span>
                    <div class="js_mixed_content"></div>
                </div>
                <div class="watch-description">
                    <div class="small">Uploaded by <a href="/user/{{ video.video_author }}">{{ video.video_author }}</a> on Apr 12, 2022</div>
                    <div class="black" style="margin-top: 5px">
                        {{ video.video_description|nl2br }}
                    </div>
                    <div class="small" style="margin-top: 5px">
                        <b>Category:</b><br>
                        <a href="#">{{ video.video_category }}</a><br>
                        <b>Tags:</b><br>
                        <a href="#" class="tag">{{ video.video_tag }}</a><br>
                    </div>
                </div>
            </div>
            <div class="top-right no-margin views">
                <h1 class="float-right">{{ video[0].video_views }}</h1><br><br>
                <div class="watch-sparkbars">
                    <div class="watch-sparkbar-likes" style="width: {{ video.likes_width }}%"></div>
                    <div class="watch-sparkbar-dislikes" style="width: {{ video.dislikes_width }}%"></div>
                </div>
                <span class="likes small">{{ video.vote_likes }} likes, {{ video.vote_dislikes }} dislikes</span>
            </div>
            <button class="ut-button width-full no-margin js_open_description no-border" style="margin-top: 5px;">Show more</button><br><br>
            <div class="comment-section">
                <div class="section">All Comments ({{ comments.rows }})</div><br>
                {% if session.youtube is not defined %}
                    <div class="comment-box black signedout">
                        <a href="/sign_in">Sign In</a> or <a href="/sign_up">Sign Up</a> now to post a comment!
                    </div>
                {% else %}
                    <div class="comment-box black">
                        <form action="/request/comment_video?v={{ video.video_id }}" method="POST">
                            <textarea name="comment" class="comment-textbox"></textarea><br>
                            <input type="submit" name="submit" value="Publish">
                        </form>
                    </div>
                {% endif %}
                <div class="comments">
                    {% set comment_i = 0 %}
                    {% for comment in comments %}
                        {% if comment.id is defined %}
                            <div class="comment {% if comment_1 == 0 %}first{% endif %}">
                                <a href="/user/{{ comment.comment_author }}">{{ comment.comment_author }}</a> &nbsp;&nbsp; <span class="small gray">{{ comment.comment_creation|timeago }}</span>
                                {% set total = comment.vote_likes - comment.vote_dislikes %}
                                {% if total > 0 %}
                                    <span class="comment-positive">{{ total }} people like this</span>
                                {% endif %}
                                {% if total < 0 %}
                                    <span class="comment-negative">{{ total|abs }} people dislike this</span>
                                {% endif %}
                                {% if session.youtube is defined %}
                                    <button class="ut-button right" style="margin-left: 15px;">Reply</button>
                                    <a href="/request/like_comment?i={{ comment.id }}&t=l">
                                        <button class="ut-button js_comment_like right no-margin end">like</button>
                                    </a>
                                    <a href="/request/like_comment?i={{ comment.id }}&t=d">
                                        <button class="ut-button js_comment_dlslike right no-margin start">dislike</button>
                                    </a>
                                {% endif %}
                                <div class="comment-text black">
                                    {{ comment.comment_text|nl2br }}
                                </div>
                            </div>
                            {% set comment_1 = comment_1 + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="top-right">
            <div class="videos-list">
                {% for video in videos_rec %}
                    {% if video.id is defined %}
                        <div class="video-item inline-block w-300 hover-video padding">
                            <div class="thumb-64 inline-block"  style="background-image: url('/v/thumb/{{ video.video_thumbnail }}');">
                                <span class="timestamp">{{ video.video_duration|date('i:s') }}</span>
                            </div>
                            <div class="video-meta">
                                <a href="/watch?v={{ video.video_id }}" class="video-author bigger">{{ video.video_title }}</a><br>
                                <span class="small">3,541,329 views</span><br>
                                <a href="/user/{{ video.video_author }}" class="video-author">{{ video.video_author }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $('.js_addto_button').click(function() {
            $(".js_addto_button").addClass("active");
            $(".js_share_button").removeClass("active");
            $(".video-author-videos").removeClass("active");
            var mixed_con = $('.js_mixed_watch_page');
            var data_dom = $('.js_mixed_watch_page .js_mixed_content');
            var loading_dom = $('.js_mixed_watch_page .loading');

            if(mixed_con.hasClass("hidden")) {
                mixed_con.fadeIn(300);
                mixed_con.removeClass("hidden");
                loading_dom.addClass("hidden");
                $.get("/request/ajax/add_to?v={{ video.video_id }}", function(data, status) {
                    data_dom.html(data);
                });
            } else {
                mixed_con.addClass("hidden");
                mixed_con.fadeOut(300);
                loading_dom.removeClass("hidden");
                $(".js_addto_button").removeClass("active");
            }
        });

        $('.js_share_button').click(function() {
            $(".js_addto_button").removeClass("active");
            $(".js_share_button").addClass("active");
            $(".video-author-videos").removeClass("active");
            var mixed_con = $('.js_mixed_watch_page');
            var data_dom = $('.js_mixed_watch_page .js_mixed_content');
            var loading_dom = $('.js_mixed_watch_page .loading');

            if(mixed_con.hasClass("hidden")) {
                mixed_con.fadeIn(300);
                mixed_con.removeClass("hidden");
                loading_dom.addClass("hidden");
                $.get("/request/ajax/share_video?v={{ video.video_id }}", function(data, status) {
                    data_dom.html(data);
                });
            } else {
                mixed_con.addClass("hidden");
                mixed_con.fadeOut(300);
                loading_dom.removeClass("hidden");
                $(".js_share_button").removeClass("active");
            }
        });

        $('.video-author-videos').click(function() {
            $(".js_addto_button").removeClass("active");
            $(".js_share_button").removeClass("active");
            $(".video-author-videos").addClass("active");
            var mixed_con = $('.js_mixed_watch_videos_page');
            var data_dom = $('.js_mixed_watch_videos_page .js_mixed_content');
            var loading_dom = $('.js_mixed_watch_videos_page .loading');

            if(mixed_con.hasClass("hidden")) {
                mixed_con.fadeIn(300);
                mixed_con.removeClass("hidden");
                loading_dom.addClass("hidden");
                $.get("/request/ajax/channel_videos?c={{ video.video_author }}", function(data, status) {
                    data_dom.html(data);
                });
            } else {
                mixed_con.addClass("hidden");
                mixed_con.fadeOut(300);
                loading_dom.removeClass("hidden");
                $(".video-author-videos").removeClass("active");
            }
        });

        addEventListener('load', function () {
            $($('.utue-player')[0].shadowRoot.querySelector('button[control][theater]')).click(function () {
                var right = $('.top-right');
                var player = $('.utue-player')[0];

                if(player.hasAttribute('data-theater')) 
                    right.css('margin-top', '530px');
                else 
                    right.css('margin-top', '65px');
            });
        });
    </script>
{% endblock %}