{% extends "base.twig" %}

{% block page %}
    {# page metadata #}

    {% set page = page | merge({
        "title"       : "YouTube - {{ video.video_title }}",
        "description" : "Broadcast yourself"
    }) %}    

    {{ parent() }}
{% endblock %}

{%- block site_content -%}
    <div class="clearfix watch-page">
        <div class="top-left">
            <div class="video-watch-meta no-padding">
                <h1 class="video-watch-title">{{ video.video_title }}</h1>
                <a class="video-watch-author bold">{{ video.video_author }}</a>
                <div class="video-author-videos inline-block">10 videos <div class="bg-author_videos_watch inline-block mid"></div></div>
                <button class="ut-button">Subscribe</button>
            </div><br>
            <div class="video-player"></div><br>
            <div class="top-left">
                <div class="video-watch-meta no-padding">
                    <button class="ut-button no-margin start js_like_button"><span class="bg-like_button icon"></span> Like</button>
                    <button class="ut-button no-margin end dislike js_dislike_button"><span class="bg-dislike_button icon"></span></button>
                    <button class="ut-button no-margin js_addto_button"><span class="bg-add_to icon"></span> &nbsp;Add To</button>
                    <button class="ut-button no-margin js_share_button">Share</button>
                    <button class="ut-button no-margin js_flag_button"><span class="bg-flag icon"></span></button>
                </div>
                <div class="watch-description">
                    <div class="small">Uploaded by <a href="#">jackd</a> on Apr 12, 2022</div>
                    <div class="black" style="margin-top: 5px">
                        {{ video.video_description }}
                    </div>
                    <div class="small" style="margin-top: 5px">
                        <b>Category:</b><br>
                        <a href="#">{{ video.video_category }}</a><br>
                        <b>Tags:</b><br>
                        <a href="#" class="tag">{{ video.video_tag }}</a><br>
                    </div>
                </div>
            </div>
            <div class="top-right no-margin views">
                <h1 class="float-right">3,541,329</h1><br><br>
                <div class="watch-sparkbars">
                    <div class="watch-sparkbar-likes" style="width: 91.5887850467%"></div>
                    <div class="watch-sparkbar-dislikes" style="width: 8.41121495327%"></div>
                </div>
                <span class="likes small">294 likes, 27 dislikes</span>
            </div>
            <button class="ut-button width-full no-margin js_open_description no-border" style="margin-top: 5px;">Show more</button><br><br>
            <div class="comment-section">
                <div class="section">All Comments (unspecified)</div><br>
                {% if session.youtube is not defined %}
                    <div class="comment-box black signedout">
                        <a href="/sign_in">Sign In</a> or <a href="/sign_up">Sign Up</a> now to post a comment!
                    </div>
                {% else %}
                    <div class="comment-box black">
                        <form action="/request/comment_video?v={{ video.video_id }}" method="POST">
                            <textarea name="comment" class="comment-textbox"></textarea><br>
                            <input type="submit" name="submit" value="Publish">
                        </form>
                    </div>
                {% endif %}
                <div class="comments">
                    {% set comment_i = 0 %}
                    {% for comment in comments %}
                        {% if comment.id is defined %}
                            <div class="comment {% if comment_1 == 0 %}first{% endif %}">
                                <a href="/user/{{ comment.comment_author }}">{{ comment.comment_author }}</a> &nbsp;&nbsp; <span class="small gray">{{ comment.comment_creation|timeago }}</span>
                                <div class="comment-text black">
                                    {{ comment.comment_text }}
                                </div>
                            </div>
                            {% set comment_1 = comment_1 + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="top-right">
            <div class="videos-list">
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
                <div class="video-item inline-block w-300 hover-video padding">
                    <div class="thumb-64 inline-block">
                        <span class="timestamp">3:44</span>
                    </div>
                    <div class="video-meta">
                        <a href="/watch?v=test" class="video-author bigger">example video</a><br>
                        <span class="small">3,541,329 views</span><br>
                        <a href="/user/test" class="video-author">drakeandjosh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}